body {
  background-color: #f9f9f9;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.courseInfo {
  margin: 10px 0;
  width: 40%;
  height: 250px;
}

.courseInfo__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courseInfo__button {
  border-radius: 50px;
  font-weight: 600;
  padding: 10px;
}

.courseInfo__desc {
  font-weight: 300;
}

.courseInfo__footer {
  display: flex;
  justify-content: space-between;
}

.courseInfo__header {
  background-color: #223441;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
}

.courseInfo__header--text {
  color: white;
  font-size: 1.1rem;
}

.courseInfo__price {
  color: #ff2a70;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .courses {
    display: flex;
  }

  .courseInfo {
    width: 100%;
    margin: 10px 0;
  }
}
